@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Roboto:,regular,700,900&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  color: #000000;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 1 auto;
  min-width: 0;
}

.-container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

/*------------------HEADER-------------------*/
.body_lock {
  overflow: hidden;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (max-width: 799.98px) {
  .menu__container {
    align-items: center;
  }
}
@media (max-width: 659.98px) {
  .menu__container {
    flex-direction: column;
  }
}
@media (max-width: 399.98px) {
  .menu__container {
    font-size: 14px;
  }
}
.menu__logo-body {
  max-width: 250px;
  display: flex;
  align-items: center;
}
@media (max-width: 329.98px) {
  .menu__logo-body {
    max-width: 185px;
  }
}
.menu__logo-img {
  width: 100%;
}
.menu__main-info-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.menu__main-info-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0px 10px 10px;
}
@media (max-width: 799.98px) {
  .menu__main-info-row {
    align-items: flex-end;
    flex-direction: column;
  }
}
@media (max-width: 659.98px) {
  .menu__main-info-row {
    align-items: center;
  }
}
@media (max-width: 469.98px) {
  .menu__main-info-row {
    padding: 0px;
  }
}
@media (max-width: 799.98px) {
  .menu__adress-body {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 10px 0;
  }
}
@media (max-width: 482.98px) {
  .menu__adress-body {
    margin-top: 10px;
  }
}
@media (max-width: 564.98px) {
  .menu__adress-body {
    flex-direction: column;
    row-gap: 10px;
    margin-top: 0px;
  }
}
.menu__adress-item {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
}
.menu__adress-item:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 799.98px) {
  .menu__adress-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.menu__adress-info {
  color: #1F255B;
  text-transform: uppercase;
  font-weight: 600;
}
.menu__communication-body {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 669.98px) {
  .menu__communication-body {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 637.98px) {
  .menu__communication-body {
    justify-content: space-around;
  }
}
@media (max-width: 569.98px) {
  .menu__communication-body {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 352.98px) {
  .menu__communication-body {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 549.98px) {
  .menu__communication-body {
    margin-bottom: 5px;
  }
}
@media (max-width: 659.98px) {
  .menu__contacts-body {
    display: flex;
    align-items: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 637.98px) {
  .menu__contacts-body {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 569.98px) {
  .menu__contacts-body {
    flex-direction: column;
    align-items: start;
  }
}
.menu__contacts-item {
  color: #1F255B;
  font-weight: 900;
  transition: color 0.2s ease;
}
.menu__contacts-item:first-child {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 352.98px) {
  .menu__contacts-item:first-child {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
.menu__contacts-item:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 659.98px) {
  .menu__contacts-item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media (max-width: 569.98px) {
  .menu__contacts-item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media (max-width: 352.98px) {
  .menu__contacts-item:not(:last-child) {
    text-align: center;
  }
}
.menu__contacts-item:hover {
  color: #8EC544;
}
.menu__contacts-icon {
  width: 26px;
  height: 26px;
}
.menu__contact-form-buttom {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s, color 0.3s, text-shadow 0.3s;
  background-color: #8EC544;
  color: #1F255B;
  border: none;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
.menu__contact-form-buttom:hover {
  background-color: #73a333;
  color: #ffffff;
  transform: scale(1.05);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
@media (max-width: 374.98px) {
  .menu__contact-form-buttom {
    padding: 10px 10px;
  }
}
@media (max-width: 331.98px) {
  .menu__contact-form-buttom {
    font-size: 13px;
    padding: 8px 8px;
  }
}
@media (max-width: 320.98px) {
  .menu__contact-form-buttom {
    padding: 7px 7px;
  }
}
.menu__body {
  border-top: 1px solid #8EC544;
}
@media (max-width: 659.98px) {
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 90px 30px 30px 30px;
    transition: top 0.3s ease;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
  }
  .menu__body_active {
    top: 0;
    z-index: 100;
    border-top: none;
  }
  .menu__body_active > .menu__list {
    flex-direction: column;
    row-gap: 35px;
    align-items: center;
    font-size: 24px;
  }
  .menu__body_active > .menu__list > .menu__item > .menu__link {
    color: #73a333;
  }
}
.menu__list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 10px 0px 10px 0px;
}
.menu__link {
  color: #1F255B;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.2s ease;
}
.menu__link:hover {
  color: #8EC544;
}
.menu__icon-button {
  display: none;
}
@media (max-width: 659.98px) {
  .menu__icon-button {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .menu__icon-button::before, .menu__icon-button::after, .menu__icon-button > span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 600ms ease;
    background-color: black;
  }
  .menu__icon-button::before, .menu__icon-button::after {
    content: "";
  }
  .menu__icon-button::before {
    top: 0;
  }
  .menu__icon-button::after {
    bottom: 0;
  }
  .menu__icon-button > span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu__icon-button_active {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0);
  }
  .menu__icon-button_active > span {
    transform: scale(0) translate(0, -50%);
    background-color: #73a333;
  }
  .menu__icon-button_active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
    background-color: #73a333;
  }
  .menu__icon-button_active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, -50%);
    background-color: #73a333;
  }
}

/*------------------HEADER end-------------------*/
/*------------------modal start-------------------*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  align-items: center;
  justify-content: center;
}
.modal.active {
  display: flex;
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.modal-content {
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-title {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #1F255B;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-form .input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}
.contact-form .input-field:focus {
  border-color: #007BFF;
  outline: none;
}
.contact-form .btn-submit {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s, color 0.3s, text-shadow 0.3s;
  background-color: #8EC544;
  color: #1F255B;
  border: none;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
.contact-form .btn-submit:hover {
  background-color: #218838;
  background-color: #73a333;
  color: #ffffff;
  transform: scale(1.05);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/*------------------modal end-------------------*/
/*------------------main-block start-------------------*/
.main-block {
  height: 500px;
  width: 100%;
  background-image: url("../img/main-block/main-block-background.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .main-block {
    background-position: top right;
  }
}
.main-block__container {
  height: 100%;
  display: flex;
  align-items: start;
  padding: 75px 20px;
}
.main-block__content {
  max-width: 700px;
}
.main-block__title {
  font-size: 64px;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
  line-height: 1.25;
}
.main-block__subtitle {
  font-size: 18px;
  color: white;
  line-height: 1.25;
  margin-bottom: 10px;
}
.main-block__adress-body {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}
.main-block__adress-item {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
.main-block__adress-info {
  color: white;
}
@media (max-width: 768px) {
  .main-block__adress-info {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .main-block {
    height: 450px;
  }
  .main-block__title {
    font-size: 42px;
  }
  .main-block__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 451px) {
  .main-block__title {
    font-size: 36px;
  }
}
@media (max-width: 400px) {
  .main-block__title {
    font-size: 32px;
  }
}
@media (max-width: 352px) {
  .main-block {
    height: 500px;
  }
}
/*------------------main-block end-------------------*/
/*------------------main-form-block start-------------------*/
.main-block {
  position: relative;
  z-index: 1;
}

.main-form-block {
  position: relative;
  z-index: 2;
}
.main-form-block__container {
  position: relative;
  min-height: 175px;
}
@media (max-width: 768px) {
  .main-form-block__container {
    min-height: 280px;
  }
}
@media (max-width: 477.98px) {
  .main-form-block__container {
    min-height: 300px;
  }
}
.main-form-block__form {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  background: #f7f7f7;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media (max-width: 768px) {
  .main-form-block__form {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 659.98px) {
  .main-form-block__form {
    top: -40%;
  }
}
@media (max-width: 550px) {
  .main-form-block__form {
    width: 400px;
  }
}
@media (max-width: 477.98px) {
  .main-form-block__form {
    top: -35%;
  }
}
@media (max-width: 431.98px) {
  .main-form-block__form {
    top: -30%;
  }
}
@media (max-width: 369.98px) {
  .main-form-block__form {
    top: -25%;
  }
}
@media (max-width: 450px) {
  .main-form-block__form {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .main-form-block__form {
    width: 300px;
  }
}
.main-form-block__form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-form-block__form .form-group .form-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #1F255B;
  font-size: 14px;
}
.main-form-block__form .form-group .form-select,
.main-form-block__form .form-group .form-input {
  padding: 0.75rem;
  border: 1px solid #73a333;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-size: 18px;
}
@media (max-width: 550px) {
  .main-form-block__form .form-group .form-select,
  .main-form-block__form .form-group .form-input {
    width: 100%;
    font-size: 16px;
  }
}
.main-form-block__form .form-group .form-button {
  padding: 0.98rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s, color 0.3s, text-shadow 0.3s;
  background-color: #8EC544;
  color: #1F255B;
  border: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
  grid-column: span 2;
}
.main-form-block__form .form-group .form-button:hover {
  background-color: #73a333;
  color: #ffffff;
  transform: scale(1.05);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
@media (min-width: 768px) {
  .main-form-block__form .form-group .form-button {
    grid-column: span 1;
  }
}

/*------------------main-form-block end-------------------*/
/*------------------ecommerce-personal-------------------*/
/*------------------production-and-delivery-------------------*/
.main-content__production-and-delivery {
  display: flex;
  height: 700px;
  justify-content: center;
  text-align: center;
}
@media (max-width: 2559.98px) {
  .main-content__production-and-delivery {
    background-image: url(../img/production-and-delivery/background_main_screen-2.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 991.98px) {
  .main-content__production-and-delivery {
    height: 600px;
  }
}
@media (max-width: 766.98px) {
  .main-content__production-and-delivery {
    height: 450px;
  }
}
@media (max-width: 478.98px) {
  .main-content__production-and-delivery {
    height: 500px;
  }
}

@media (min-width: 2560px) {
  .production-and-delivery__container {
    background-image: url(../img/production-and-delivery/background_main_screen-2.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.production-and-delivery__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 75px;
}
@media (max-width: 766.98px) {
  .production-and-delivery__content {
    gap: 50px;
  }
}
.production-and-delivery__header {
  margin-top: 160px;
  color: #9ce9ea;
  font-size: 65px;
  line-height: 115.3846153846%;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
@media (max-width: 991.98px) {
  .production-and-delivery__header {
    font-size: 45px;
  }
}
@media (max-width: 766.98px) {
  .production-and-delivery__header {
    margin-top: 100px;
    font-size: 30px;
  }
}
@media (max-width: 478.98px) {
  .production-and-delivery__header {
    margin-top: 100px;
    line-height: 36px;
  }
}
.production-and-delivery__info {
  color: #9ce9ea;
  font-size: 18px;
  line-height: 133.3333333333%;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
  text-shadow: 0 0 20px #000000;
}
@media (max-width: 766.98px) {
  .production-and-delivery__info {
    font-size: 16px;
  }
}
.production-and-delivery__button {
  display: inline-block;
  padding: 10px 50px;
  background-color: #79b4b5;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  border: 0;
  line-height: inherit;
  cursor: pointer;
  border-radius: 0;
}
.production-and-delivery__button:hover {
  background-image: linear-gradient(rgb(245, 212, 95), rgb(245, 212, 95));
}
@media (max-width: 766.98px) {
  .production-and-delivery__button {
    font-size: 14px;
  }
}
@media (max-width: 478.98px) {
  .production-and-delivery__button {
    padding: 10px 30px;
  }
}

/*------------------production-and-delivery END-------------------*/
/*------------------service-cards START-------------------*/
.main-content__service-cards {
  background-color: #4F4963;
}

.service-cards__content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
  justify-content: center;
  /* Центрирование карточек по горизонтали */
}
.service-cards__card {
  flex: 1 1 calc(33.333% - 20px);
  /* Три карточки в ряд */
  max-width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Замените 'your-image-url.jpg' на путь к вашей картинке */
  background-size: cover;
  background-position: center;
  color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 15px #8EC544;
  transition: box-shadow 0.3s ease;
  padding: 20px;
  padding: 10px;
  height: 300px;
}
.service-cards__card:nth-child(1) {
  background-image: url("../img/service-cards/cards_1.png");
}
.service-cards__card:nth-child(2) {
  background-image: url("../img/service-cards/cards_2.png");
}
.service-cards__card:nth-child(3) {
  background-image: url("../img/service-cards/cards_3.png");
}
.service-cards__card:nth-child(4) {
  background-image: url("../img/service-cards/cards_4.png");
}
.service-cards__card:nth-child(5) {
  background-image: url("../img/service-cards/cards_5.png");
}
.service-cards__card:nth-child(6) {
  background-image: url("../img/service-cards/cards_6.png");
}
.service-cards__card:nth-child(7) {
  background-image: url("../img/service-cards/cards_7.jpg");
}
.service-cards__card:nth-child(8) {
  background-image: url("../img/service-cards/cards_8.png");
}
.service-cards__card:nth-child(9) {
  background-image: url("../img/service-cards/cards_9.png");
}
.service-cards__card:nth-child(10) {
  background-image: url("../img/service-cards/cards_10.jpg");
}
.service-cards__card:nth-child(11) {
  background-image: url("../img/service-cards/cards_11.png");
}
.service-cards__card:nth-child(12) {
  background-image: url("../img/service-cards/cards_12.jpg");
}
.service-cards__card:hover {
  box-shadow: 0 0 15px #ffffff;
}
@media (max-width: 992px) {
  .service-cards__card {
    flex: 1 1 calc(50% - 20px);
    /* Две карточки в ряд на средних экранах */
    max-width: calc(50% - 20px);
  }
}
@media (max-width: 640px) {
  .service-cards__card {
    flex: 1 1 100%;
    /* Одна карточка в ряд на маленьких экранах */
    max-width: 100%;
  }
}
.service-cards__card-title {
  font-size: 26px;
  color: #8EC544;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  z-index: 2;
}
@media (max-width: 690px) {
  .service-cards__card-title {
    font-size: 24px;
  }
}
.service-cards__card-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
  z-index: 2;
}
.service-cards__button-book {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s, color 0.3s, text-shadow 0.3s;
  background-color: #8EC544;
  color: #1F255B;
  border: none;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
.service-cards__button-book:hover {
  background-color: #73a333;
  color: #ffffff;
  transform: scale(1.05);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
@media (max-width: 425px) {
  .service-cards__button-book {
    padding: 10px 15px;
  }
}
.service-cards__button-details {
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s, color 0.3s;
  color: #ffffff;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.service-cards__button-details:hover {
  color: #bddd92;
  transform: scale(1.05);
  text-decoration: underline;
}
@media (max-width: 650px) {
  .service-cards__button-details {
    padding: 10px 5px;
  }
}
.service-cards__card-price {
  font-weight: 600;
  font-size: 20px;
  color: #8EC544;
  background-color: #1F255B;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  width: -moz-max-content;
  width: max-content;
  padding: 5px 40px;
  border-radius: 4px;
  margin: 0 auto;
  z-index: 2;
}

/*------------------service-cards END-------------------*/
/*------------------service-cards-modal START-------------------*/
.service-cards__modal {
  display: none;
  /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Затемнение фона */
  z-index: 1000;
  overflow: auto;
  transition: opacity 0.3s ease-in-out;
}
.service-cards__modal-content {
  position: relative;
  display: flex;
  margin: 0;
  max-width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
@media (max-width: 768px) {
  .service-cards__modal-content {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
.service-cards__modal-left {
  width: 30%;
  /* Левая часть — 30% ширины */
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .service-cards__modal-left {
    width: 100%;
    height: 300px;
    /* Ограничиваем высоту на мобильных */
  }
}
.service-cards__modal-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(65%);
}
@media (max-width: 768px) {
  .service-cards__modal-img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.service-cards__modal-title {
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: #8EC544;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  padding-left: 10px;
}
.service-cards__modal-right {
  width: 70%;
  /* Правая часть — 70% ширины */
  padding: 20px;
}
@media (max-width: 768px) {
  .service-cards__modal-right {
    width: 100%;
  }
}
.service-cards__modal-sub-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #1F255B;
  font-weight: 600;
}
.service-cards__modal-list {
  padding-left: 20px;
  margin-bottom: 20px;
}
.service-cards__modal-item {
  margin-bottom: 5px;
  font-weight: 400;
  list-style-type: disc;
}
.service-cards__modal-item::marker {
  color: #1F255B;
}
.service-cards__modal-info {
  margin-bottom: 20px;
}
.service-cards__modal-button {
  background-color: #8EC544;
  color: #1F255B;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.2s ease, background 0.3s, color 0.3s, text-shadow 0.3s;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
.service-cards__modal-button:hover {
  background-color: #73a333;
  color: #ffffff;
  transform: scale(1.05);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.service-cards__modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #8EC544;
  cursor: pointer;
  transition: color 0.3s ease;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.service-cards__modal-close:hover {
  color: #f00;
}

/*------------------service-cards-modal END-------------------*/
/*------------------additional-services START-------------------*/
.additional-services__services-table-container {
  width: 100%;
  overflow-x: auto;
  padding: 20px;
  border-radius: 8px;
}
.additional-services__services-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.additional-services__table-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1F255B;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px 8px 0 0;
}
.additional-services__table-row {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #ffffff;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  align-items: center;
}
.additional-services__table-row:last-child {
  margin-bottom: 0;
}
.additional-services__table-row:hover {
  background-color: #f0f8ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.additional-services__table-row div {
  flex: 1;
  text-align: left;
  font-size: 16px;
}
.additional-services__table-row div:nth-child(1), .additional-services__table-row div:nth-child(2) {
  font-weight: 600;
}
.additional-services__table-row div:nth-child(2) {
  text-align: center;
}
.additional-services__table-row div:nth-child(3) {
  text-align: right;
}
@media (max-width: 768px) {
  .additional-services__table-row {
    flex-wrap: wrap;
  }
  .additional-services__table-row div:nth-child(3) {
    flex: 0 0 100%;
    margin-top: 10px;
  }
  .additional-services__table-row div:nth-child(1), .additional-services__table-row div:nth-child(2) {
    flex: 0 0 50%;
  }
}
.additional-services__button {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s, color 0.3s, text-shadow 0.3s;
  background-color: #8EC544;
  color: #1F255B;
  border: none;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
.additional-services__button:hover {
  background-color: #73a333;
  color: #ffffff;
  transform: scale(1.05);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
@media (max-width: 768px) {
  .additional-services__button {
    width: 100%;
    box-sizing: border-box;
  }
}

/*------------------additional-services END-------------------*/
/*------------------button-additional-services START-------------------*/
.button-additional-services__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-additional-services__book-now-btn {
  padding: 20px 40px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s, color 0.3s, text-shadow 0.3s;
  background-color: #8EC544;
  color: #1F255B;
  border: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
  margin-bottom: 50px;
}
.button-additional-services__book-now-btn:hover {
  background-color: #73a333;
  color: #ffffff;
  transform: scale(1.05);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.button-additional-services__container {
  /* Центрируем по вертикали */
}

/*------------------button-additional-services END-------------------*/
/*------------------advantages START-------------------*/
.main-content__advantages {
  background: url("../img/advantages/advantages-background.png") no-repeat center center/cover;
  padding-bottom: 20px;
}

.advantages__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 0 20px 0;
  text-align: center;
}
.advantages__header-title {
  color: #1F255B;
  font-size: 36px;
  font-weight: bold;
  line-height: 127.7777777778%;
}
@media (max-width: 959.98px) {
  .advantages__header-title {
    font-size: 30px;
  }
}
@media (max-width: 767.98px) {
  .advantages__header-title {
    font-size: 26px;
  }
}
.advantages__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
@media (max-width: 1024px) {
  .advantages__cards-container {
    gap: 15px;
  }
}
@media (max-width: 640px) {
  .advantages__cards-container {
    flex-direction: column;
    align-items: center;
  }
}
.advantages__card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px #1F255B;
}
@media (max-width: 425px) {
  .advantages__card {
    max-width: 100%;
  }
}
.advantages__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}
.advantages__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.advantages__card-title {
  font-size: 20px;
  color: #8EC544;
  margin-bottom: 10px;
  font-weight: 600;
}
.advantages__card-info {
  font-size: 16px;
  color: black;
  font-weight: 400;
}

/*------------------advantages END-------------------*/
/*------------------examples-work START-------------------*/
.examples-work {
  margin-bottom: 70px;
}
.examples-work__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 0 20px 0;
  text-align: center;
}
.examples-work__header-title {
  color: #1F255B;
  font-size: 36px;
  font-weight: bold;
  line-height: 127.7777777778%;
}
@media (max-width: 959.98px) {
  .examples-work__header-title {
    font-size: 30px;
  }
}
@media (max-width: 767.98px) {
  .examples-work__header-title {
    font-size: 26px;
  }
}

/* Основной слайдер */
.main-slider {
  margin-top: 20px;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  /* Стрелки */
}
.main-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-slider .swiper-slide img {
  width: 300px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-slider .swiper-button-prev,
.main-slider .swiper-button-next {
  color: #1F255B;
  width: 44px;
  height: 44px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}
.main-slider .swiper-button-prev:hover,
.main-slider .swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.2);
}
.main-slider .swiper-button-prev::after,
.main-slider .swiper-button-next::after {
  font-size: 16px;
}

/* Превью-слайдер */
.thumbs-slider {
  margin-top: 20px;
  width: 150px;
}
.thumbs-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.thumbs-slider .swiper-slide img {
  width: 50px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.thumbs-slider .swiper-slide:hover, .thumbs-slider .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

/*------------------examples-work END-------------------*/
/*------------------footer-------------------*/
.footer {
  background-color: #9ce9ea;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  row-gap: 20px;
}
.footer__header-item {
  font-size: 20px;
  line-height: 120%;
}
.content-footer__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 20px;
  text-align: center;
}
@media (max-width: 374.98px) {
  .content-footer__list {
    flex-direction: column;
  }
}
.content-footer__herder {
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  padding-bottom: 10px;
}
.content-footer__phone {
  font-size: 16px;
  line-height: 125%;
  font-weight: 400;
}
.content-footer__text {
  font-size: 16px;
  line-height: 137.5%;
  font-weight: 400;
}

/*------------------popup-form-------------------*/
.popup-form {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 50;
  overflow-y: scroll;
}
.popup-form__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup-form__content {
  background-color: #fff;
  color: #000;
  position: relative;
}
.popup-form__close {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.popup-form__close-img {
  height: 25px;
  width: 25px;
}
.popup-form_disable {
  display: none;
}

.form-popup {
  width: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}
@media (max-width: 424.98px) {
  .form-popup {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.form-popup__header {
  margin-top: 0;
  margin-bottom: 40px;
  color: #2e2d2d;
  font-size: 20px;
}
@media (max-width: 424.98px) {
  .form-popup__header {
    margin-bottom: 25px;
  }
}
.form-popup__name {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}
.form-popup__phone {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}
.form-popup__phone::-webkit-outer-spin-button, .form-popup__phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.form-popup__phone, .form-popup__phone:hover, .form-popup__phone:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}
.form-popup__opisanie {
  display: block;
  width: 100%;
  height: 150px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}
.form-popup__button {
  display: inline-block;
  padding: 9px 15px;
  color: #000;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  width: 100%;
  background-image: linear-gradient(180deg, #9ce9ea, #9ce9ea);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5px;
}
.form-popup__button:hover {
  color: #fff;
}
/*------------------popup-thankyou-------------------*/
.popup-thankyou {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 50;
  overflow-y: scroll;
}
.popup-thankyou_disable {
  display: none;
}
.popup-thankyou__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup-thankyou__content {
  background-color: #fff;
  color: #000;
  position: relative;
  height: 150px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-thankyou__close {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.popup-thankyou__close-img {
  height: 25px;
  width: 25px;
}
.popup-thankyou__text {
  text-align: center;
  line-height: 1.5;
  color: green;
  font-weight: 600;
}

/*------------------buttons START-------------------*/
.floating-buttons__button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  animation: rotate-bounce 2s infinite linear;
}
.floating-buttons__button img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.floating-buttons__button img:hover {
  transform: scale(1.1);
}
.floating-buttons__button:hover {
  transform: scale(1.1);
}
.floating-buttons__button--call {
  background-color: hidden;
  bottom: 75px;
}
.floating-buttons__button--whatsapp {
  background-color: hidden;
}

@keyframes rotate-bounce {
  0% {
    transform: rotate(0deg);
    animation-timing-function: 0;
  }
  25% {
    transform: rotate(-10deg);
    animation-timing-function: 0;
  }
  50% {
    transform: rotate(0deg);
    animation-timing-function: 0;
  }
  75% {
    transform: rotate(10deg);
    animation-timing-function: 0;
  }
  100% {
    transform: rotate(0deg);
  }
}
/*------------------buttons END-------------------*/